@import "../mixins";
.productDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 560px;
  gap: 25px;
  .productLeft {
    width: 50%;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    @include media("lg") {
      width: 100%;
      height: 480px;
    }
    @include media("md") {
      height: 352px;
    }
  }
  .productRight {
    padding-left: 124px;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h6 {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.9rem;
      letter-spacing: 10px;
      text-transform: uppercase;
      color: #d87d4a;
    }
    h1 {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 700;
      font-size: 4rem;
      line-height: 4.4rem;
      letter-spacing: 1.42857px;
      text-transform: uppercase;
      color: #000000;
      @include media("lg") {
        font-size: 2.8rem;
        line-height: 1;
      }
    }
    p {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2.5rem;
      color: #000000;
      mix-blend-mode: normal;
      opacity: 0.5;
    }
    a {
      button {
        border: none;
        width: 160px;
        height: 48px;
        background: #d87d4a;
        font-family: Manrope;
        font-size: 1.3rem;
        line-height: 1.776rem;
        letter-spacing: 1px;
        font-weight: 700;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.4s;
        &:hover {
          background-color: #fbaf85;
        }
      }
    }
    h5 {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.5rem;
      letter-spacing: 1.28571px;
      text-transform: uppercase;
      color: #000000;
    }
    .buyProduct {
      @include media("md") {
        justify-content: center;
      }
    }
    @include media("lg") {
      width: 100%;
      padding-left: 70px;
    }
    @include media("md") {
      text-align: center;
      padding: 0;
    }
  }
  @include media("lg") {
    height: auto;
  }
  @include media("md") {
    flex-direction: column;
  }
}
.buyProduct {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 25px;
  div {
    height: 48px;
    width: 130px;
    div {
      cursor: pointer;
    }
  }
}
