@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Rubik:wght@400;500;700&display=swap");
@import "../navbar";
@import "../categories";
@import "homeHeader";
@import "zx9speakers";
@import "zx7speakers";
@import "yx1earphones";
@import "../bestgear";
@import "../footer";
@import "../fontSize";
body {
  margin: 0;
  padding: 0;
}
.mainDiv {
  margin: auto;
  width: 1110px;
  display: flex;
  flex-direction: column;
  @include media("xl") {
    width: 95%;
  }
  @include media("lg") {
    width: 90%;
  }
  @include media("sm") {
    width: 90%;
  }
}
@media screen and (max-width: 1110px) {
  .mainProduct {
    width: 100%;
  }
}
